body{
    text-align:center;
}
#inicio{
    background:linear-gradient(blue 0%, cyan 100%);
}
#menu{
    list-style:none;
    width:100%;
    top:0px;
    
    z-index:10;
    margin-top:0px;
    margin-bottom:20px;
    padding:20px;
}
.link{
    float:left;
    margin:10px;
}
#titulo{
    font-family: 'Dancing Script', cursive;
    font-size:40px;
}
